.container{
    text-align: center;
}

.row{
    align-items: center;
    display: inline-block;
}

.card-title{
    color: white;
}

.card-text{
    color: white;
}

.coments{
    text-align: center;
}