.container{
    text-align: center;
}

.row{
    align-items: center;
    display: inline-block;
    
    
    justify-content: center;
    display: flex;
}

.card-title{
    color: white;
}

.card-text{
    color: white;
}

.coments{
    text-align: center;
    
}
.titul{
    text-align: center;
}
 #foot{
    text-align: center;
    background-color: black;
    color: white;
 }

 #carta{
    margin-left: 200px;  
    display: flex;
    
 }

