<div class="container">
    <h2>Image Gallery</h2>
    <p>The .thumbnail class can be used to display an image gallery.</p><div class="row">
        <div class="col-md-4" *ngFor="let producto of dataProductos">
            <div class="thumbnail">
                <a href="{{producto.imagen}}" target="_blank">
                    <img src="{{producto.imagen}}" alt="Lights" style="width:100%">
                </a>
                
                <div class="caption">
                    <p>{{producto.id}}</p>
                    <p>{{producto.nombre}}</p>
                    <p>{{producto.plataforma}}</p>
                    <p>{{producto.lanzamiento}}</p>
                    <p>{{producto.precio}}</p>
                    <p>{{producto.imagen}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<a href="administrador">Administrador</a>
<body>
<hr>
    <div class="container mt-3">
        <h2>VIDEOJUEGOS DISPONIBLES</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>PLATAFORMA</th>
                    <th>LANZAMIENTO</th>
                    <th>PRECIO</th>
                    <th>REFERENCIA</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of dataProductos">
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.plataforma}}</td>
                    <td>{{producto.lanzamiento}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.imagen}}</td>

                </tr>
            </tbody>
        </table>
    </div>

</body>