
<body>
<hr>
    <div class="container mt-3">
        <h2>VIDEOJUEGOS DISPONIBLES</h2>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NOMBRE</th>
                    <th>PLATAFORMA</th>
                    <th>LANZAMIENTO</th>
                    <th>PRECIO</th>
                    <th>REFERENCIA</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let producto of dataProductos">
                    <td>{{producto.id}}</td>
                    <td>{{producto.nombre}}</td>
                    <td>{{producto.plataforma}}</td>
                    <td>{{producto.lanzamiento}}</td>
                    <td>{{producto.precio}}</td>
                    <td>{{producto.imagen}}</td>

                </tr>
            </tbody>
        </table>
    </div>

</body>