<div class="container">
        <a href="administrador"><button class="glyphicon glyphicon-user"
    >ADMINISTRAR</button></a> 

    <a href="carrito">
    <button class="glyphicon glyphicon-shopping-cart" 
    >IR CARRITO</button></a>
    <h2>Videojuegos Disponibles</h2>
    <p></p>
    <div class="row">
        <div class="col-md-4" *ngFor="let producto of dataProductos">
            <div class="thumbnail">
                <a href="{{producto.imagen}}" target="_blank">
                    <img src="{{producto.imagen}}" style="width: 200" height="4000">
                </a>

                <div class="text-center">
                    <h3>{{producto.nombre}}</h3>
                    <p>{{producto.plataforma}}</p>
                    <p>{{producto.lanzamiento}}</p>
                    <p class="text-danger">OFERTA!! {{producto.precio}}$</p>
                    <button class="btn-danger">Agregar</button>
                </div>
            </div>
            
        </div>
    </div>
</div>