<div class="row">

    <div class="col md-6">
        <img src="../../../assets/images/gta.jpg" alt="">

        <h4 class="registro"> Regístrate y accede a nuestro amplio catálogo de juegos disponibles para ti </h4>
        
    </div>

    <div class="col md-6">

        <div class="field">
            <label class="label">Nombre</label>
            <div class="control">
              <input class="input" type="text" placeholder="Ingresa tu nombre" #nombre>
            </div>
          </div>
          
          <div class="field">
            <label class="label">Username</label>
            <div class="control ">
              <input class="input" type="text" placeholder="Ingresa el nombre de usuario que deseas usar" #username>
            </div>
              
            
          
          <div class="field">
            <label class="label">Email</label>
            <div class="control ">
              <input class="input " type="email" placeholder="Ingresa tu correo electrónico" #email>
              
            </div>
            
          </div>
          
          <div class="field">
            <label class="label">Clave</label>
            <div class="control ">
              <input class="input " type="password" placeholder="Ingresa tu clave personal" #clave>
              
            </div>
            
          </div>
      
          
          
          
          
          
          <div class="field">
            <div class="control">
              <label class="checkbox">
                <input type="checkbox">
                Acepto los <a href="terminos">terminos y condiciones</a>
              </label>
            </div>
          </div>
          
          
          
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link"
              (click)="guardar(nombre.value, username.value, email.value, clave.value)"
              >Ingresar</button>
            </div>
            
          </div>

    

</div>
<img src="../../../assets/images/gta2.jpg" alt="">
</div>

<footer id="foot">
  <h5 class="titul"> All rights reserved. </h5>

<div class="row" >
  <div class="col md-6">
      
      <img src="../../../assets/images/faceig.jpg" alt="fce" height="20%" width="100px">
  </div>

  <div class="col md-6">
      <img src="../../../assets/images/pcpsn.png" alt="psn" width="100px">
  </div>

</div>
</footer>
