<div class="container mt-6">
    <h2>Tu selección de compras</h2>
    <table class="table table-secondary table-striped">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio</th>
              
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>John</td>
                <td>Doe</td>
               
            </tr>
            <tr>
                <td>Mary</td>
                <td>Moe</td>
                
            </tr>
            <tr>
                <td>July</td>
                <td>Dooley</td>
                
            </tr>
        </tbody>
    </table>
    <button type="button" class="btn btn-success" ><a href="productos">Seguir comprando</a></button>
    
</div>